*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background: white;
overflow-x: hidden;
max-width: 100%;
justify-content: center;
}
/* Lineas Oblicuas */
.linea-abajo{
position:absolute;
bottom: 0;
left: 0;
border-width: 0 0 20vh 100vw;
border-style: solid;
border-color: transparent transparent blue transparent;
}
.linea{
background: blue;
width: 100%;
height: 300px;
clip-path: polygon(0 40%, 0 100%, 100% 40%);
}
   
/* Menu y Logo. + Menu Hamburguesa*/
#header{
position: relative;
width: 100%;
}
.menu2{
display: none;
max-width: 100%;
background-color: white;
z-index: 10;
margin: 0;
    #btn-menu{
    display: none;
   
}
    .lbl-menu{
        width: 50px;
        height: 50px;
        position: relative;
        right: 80px;
        cursor: pointer;
        #spn1,#spn2,#spn3{
            position: absolute;
            content: "";
            background: black;
            width: 30px;
            height: 5px;
            border-radius: 5px;
            transition: all 400ms ease;
        }
            #spn2{
                top: 21px;
            }
            #spn3{
                top: 32px;
            }
    }
    label{
    display: none;
    width: 60px;
    padding: 10px;
    color: black;
    margin-left: 300px;
    }
    label:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    }
    nav{
        max-width: 100%;
    ul{
    max-width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    li{
    border: 2px solid black;
    max-width: 100%;
    text-align: center;
    }    
    a{
    margin: 0 20px 2px 0;
    text-decoration: none;
    margin-top: 30px;
    color: white;
    display: block;
    padding: 15px 20px;
    transition: all 500ms ease;
    }
}
}
    li:hover{
    background-color: rgba(255,255,255,0.3) ;
    }
}
.menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 60px;
background: white;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10;
}
.logo-box{   
margin-left: 100px;
    img{
    width: 30px;
    }
}
a{
text-decoration: none;
font-size: 35px;
font-weight: 400;
color: var(--black);
}  
.list-container{
margin-right: 100px;
}  
.list{
display: flex;
}
li{
list-style: none;
}
a{
text-decoration: none;
margin: 0px 10px;
padding: 8px;
color: var(--black);
border-radius: 24px;
font-size: 16px;
transition: 0.03s;
}
a:hover{
color: #00F3BB ;
}

/* Titulo */
.text-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    .welcome{
    position: relative;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}
    h1{
    font-size: 70px;
    color: black;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    span{
    color: blue;
    }
    }
    p{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    text-align: left;
    width: 628px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    #conoce{   
    position: relative;
    
    cursor: pointer;    
    width: 226px;
    height: 56px;
    background: #00F3BB;
    border: none;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    text-align:center ;
    }
    #conoce:hover{
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(13,13,230,1) 75%);
        color: white;
        transition: all 700ms ease;
    } 
}
/* Episodios */
.episodios{
width: 100%;
height: 797.6px;
display: flex;
flex-wrap: wrap;
background: blue;
    .info-container{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    h2{
    margin: 40px 0 0 150px;
    font-size: 60px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    .about-gallery{
        display: flex;
        flex-wrap: wrap;
    width: 100%px;
    height: 550px;
    justify-content: space-evenly;
  
    iframe{
        width: 40%;
        height: 250px;
        margin: 30px;
    }
    }
}
/* Phone */
.phone{
margin: 70px ;
display: flex;
width: 100%;
height: 780px;
    img{
    width: 457px;
    height: 100%;
    object-fit: cover;  
    position: relative;
    bottom: 100px;
    }
    .text{
    display: flex;
    flex-direction: column;
    padding: 70px;
    h1{
    width: 399px;
    height: 62px;
    font-size: 44px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    p{
    width: 464px;
    height: 204px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    }
}
/* Galeria */
.fotos{  
   .container-project{
    width: 100%;
    margin: 0;
    }
    .project-title{
    padding: 10px;
    text-align: center;
    width: 50%;
    }
    h2{
    font-size: 40px;
    color: black;
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    img{
    width: calc(33% - 0px);
    object-fit: cover;
    }
}
/* Temas */
.temas{
width: 100%;
margin-top: 120px;
height: 300px;
    .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
    }
    h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    .box-temas{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    }
    .card-temas{
    width: 45%;
    margin: 20px;
    }
    .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    }
    .temas-text{
    width: 100%;
    border: 2px solid var(--violet);
    padding: 20px;
    border-radius: 20px;
    transition: 200ms;
    margin-top: 30px;
    }
    h4{
    color: var(--violet);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
    font-family: 'IBM Plex Sans', sans-serif;
    }
}
.novedades{
display: flex;
flex-direction: column;
width: 100%;
height:418px;
background: blue;
align-items: center;
flex-wrap: wrap;
justify-content: center;
}
h2{
font-size: 48px;
color: white;
font-family: 'IBM Plex Sans', sans-serif;
}
button{
width: 345px;
height: 56px;
margin-top: 30px;
background: #00F3BB;
color: #060A24;
font-size: 18px;
border: none;
cursor: pointer;
font-family: 'IBM Plex Mono', monospace;
}
button:hover{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(2, 2, 83) 75%);
    color: white;
    transition: all 700ms ease;
}
.linea-nov{
background: blue;
width: 100%;
height: 300px;
clip-path: polygon(0 100%, 100% 100%, 100% 64%);
}

/* Footer y Contactos */
footer{
background: white;
}
.footer-content{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
    .contactos{
    width: 40%;
    color: black;
    height: 10px;
    }
    h3{
    font-weight: 100;
    color: black;
    margin-left: 70px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    .social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    }
    .social-media-icon{
    display: inline-block;
    margin-left: 30px;
    width: 40px;
    height: 60px;
    text-align: center;
    color: black;
    }
    .social-media-icon i{
    font-size: 15px;
    line-height: 10px;
    margin-top: 25px;
    }
}
@media only screen and (max-width:700px){
    body{
    max-width: 100%;
    }
    .menu2{
    display: block;
        label{
        display: block;
        }
        .bar{
        position: absolute;
        background: blue;
        width: 100%;
        margin-left: -140%;
        transition: all 500ms ease;
        ul{
        display: block;   
        flex-direction: column;
        border-top: 1px solid #fffa;
        }
    }
    #btn-menu{
    cursor: pointer;
    }
    #btn-menu:checked ~ .bar{
    margin: 0 0 0 -50px;
    }
    #btn-menu:checked ~ .lbl-menu #spn1{
    transform: rotate(140deg);
    top: 20px;
        ~ #spn2{
        opacity: 0;
        }
        ~ #spn3{
        transform: rotate(-140deg);
        top: 20px;
        }
    }
}  
    .logo-box{
    margin: 10px;
    }
    .list-container{
    display: none;
    }
    .text-header {
    position: relative;
    right: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
        h1{
        font-size: 36px;
        }
        p{
        font-size: 14px;
        line-height: 22px;
        width: 90%;            
        }
        #conoce{
        width: 300px;
        height: 48px;
        }
    }
    .episodios{
        width: 100%;
        height: 737px;
        display: flex;
        h2{
        font-size: 36px;
        margin: 10px;
        }
        .about-gallery{
        margin: 0;
            iframe{
            width: 100%;
            height: 115px;
        }
        }
    }
    .phone{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        position: relative;
        top: 100px;
        img{
        width: 300px;
        height: 490px;
        margin-top: 0px;
        }
        .text{
        position: relative;
        bottom: 100px;
        right: 80px;
        width: 100%;
        height: 100%;
        h1{
        font-size: 36px;
        color: black;
        }
        p{
        font-size: 18px;
        color: black;
        width: 170%;
        }
        }
    }
    .container-project{
    width: 100%;
        h2{
        margin-top: 300px;
        }
        .project-img{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 310%;
        }
    }
        .temas{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 1450px;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        h2{
        font-size: 36px;
        margin-top:-90px;
        height: 110px;
        }
        .box-temas{
        display: flex;
        flex-direction: column;
        font-size: 24px;
        align-items: center;
        .temas-text{
        margin-left: -25px;
        width: 30%;
        }
        #tbj{
            margin-left: 20px;
        }
        #rlp{
        display: flex;
        margin-left: -15px; 
        }
        #bdc{
        display: flex;
        margin-left: 30px;
        }    
        #seg{
        display: flex;
        }
        }
    }
    .novedades{
    height: 300px;
        h2{
        font-size: 36px;
        margin-bottom: 30px;
        text-align: center;
        }
        }
    .contactos{
        h3{
        width: 300px;
        margin: -20px 0 0 50px;
        }
    }
    .social-media-icon{
    margin-top: 70px;
    }
}


